.container {
  padding: 4.8rem 1.8rem 9.6rem 1.8rem;
}

.testimonials-header-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.testimonials-header {
  font-size: 4.8rem;
  color: #1a1a1a;
}

.header-line {
  display: inline-block;
  border-top: 5px solid #e43314;
  width: 5rem;
}

.create-testimonial {
  display: flex;
  align-items: center;
}

.input-group {
  margin-bottom: 1.6rem;
  display: flex;
  gap: 1.6rem;
  align-items: flex-start;
}

.review-label {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  display: inline-block;
}

.review-checkbox {
  width: 2.4rem;
  height: 2.4rem;
}

.review-rating {
  display: block;
  margin-bottom: 1.6rem;
  width: 3.5rem;
  height: 2.4rem;
  outline: none;
}
.review-inputfield:focus {
  outline: none;
}

.review-textarea {
  display: block;
  width: 100%;
  margin-bottom: 1.8rem;
}

.review-textarea {
  outline: none;
}

.review-create-btn-box {
  text-align: center;
}
