.container {
  padding-top: 4.8rem;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 3.2rem;
  padding-bottom: 9.6rem;
}

.item-box {
  border: 1px #d3ced2 solid;
  padding: 1.8rem 1.8rem;
}

.item-box:hover {
  box-shadow: 0 0 10px 4px #d3ced2;
}

.item-img {
  width: 100%;
}

.item-rating-box i {
  color: #ffa600;
}

.item-info {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 0;
}

.item-name-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  font-size: 2.4rem;
}

/* /////////////////////////////// */
/* Pakalpojumu kataloga lapas media */
/* /////////////////////////////// */

/* ****************** */
/* Zem 944px 
/* ****************** */

@media (max-width: 59em) {
  .item-container {
    grid-template-columns: 1fr 1fr;
  }
  .item-info {
    font-size: 1.8rem;
  }
  .item-name {
    font-size: 2.4rem;
  }
}

/* ****************** */
/* Zem 544px 
/* ****************** */

@media (max-width: 34em) {
  .item-info {
    font-size: 1.6rem;
  }
  .item-name {
    font-size: 2rem;
  }
}

/* ****************** */
/* Zem 432px 
/* ****************** */

@media (max-width: 27em) {
  .item-container {
    grid-template-columns: 1fr;
  }
  .item-name {
    font-size: 2.4rem;
  }
}
/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128/ 140 / 156 / 192 
*/
