/* Header */
.admin-header {
  background-color: #000;
  padding: 3.2rem;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  color: #e43314;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  display: block;
}

h1:hover {
  text-shadow: 0 0 5px #e43314;
}

/* Navigation */
.admin-main-nav-list {
  max-width: 120rem;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  padding: 1.6rem 3.2rem;
  padding-right: 1.2rem;
  margin-top: 1.2rem;
  border-right: #bbb solid 1px;
}

.admin-main-nav-link:link,
.admin-main-nav-link:visited {
  display: inline-block;
  color: #a2a2a2;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 400;
  width: 100%;
  padding-bottom: 1.8rem;
  border-bottom: #bbbbbb solid 1px;
}

.admin-main-nav-link:hover,
.admin-main-nav-link:active {
  color: #e43314;
}

/* Footer */
.footer-div {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.copyright {
  margin-top: auto;
  background-color: #000;
  color: #e6e6e6 !important;
  text-align: center;
  padding: 1.2rem 0;
}
