/* Page general styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #f3f3f3;
  position: relative;
  min-height: 100vh;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #5b5b5b;
}

.page {
  max-width: 120rem;
  margin: 0 auto 9.6rem auto;
  display: grid;
  grid-template-columns: 20rem 1fr;
}

.btn--cta,
.btn--cta:link,
.btn--cta:visited {
  font-family: "Oswald", sans-serif;
  display: inline-block;
  color: #fff;
  background-color: #e43314;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  text-align: center;
  border: #e43314 solid 1px;
}

.btn--cta:hover,
.btn--cta:active {
  color: #e43314;
  background-color: #fff;
}

.btn--cta i {
  padding-right: 1.2rem;
  font-size: 1.6rem;
}

/* Genera style for page headers */

.btn--submit {
  display: block;
  text-align: center;
}

.page-header-box {
  display: flex;
  margin-bottom: 3.2rem;
  justify-content: space-between;
}

.page-heading {
  font-size: 3.2rem;
  color: #1a1a1a;
}

.page-heading-line {
  display: inline-block;
  border-top: 5px solid #e43314;
  width: 5rem;
}

/* General style for horizontal tables */

.hor-table {
  font-size: 1.2rem;
  text-align: left;
  vertical-align: center;
  border-collapse: collapse;
}

.hor-table-head {
  font-size: 1.6rem;
}

.hor-table th {
  height: 2.4rem;
  padding: 1rem;
}

.hor-table td {
  height: 5.6rem;
  padding: 1rem;
}

.hor-table td:nth-child(2) {
  width: 7.5rem;
}

.hor-table tbody tr:nth-child(odd) {
  background-color: #dfdfdf;
}

.hor-table a:link,
.hor-table a:visited {
  text-decoration: none;
  color: #e43314;
}

.hor-table a:hover,
.hor-table a:active {
  color: #555;
}

/* General style for vertical tables */

.ver-table {
  font-size: 1.8rem;
  width: 100%;
}
.ver-table tr td {
  padding-bottom: 3.2rem;
}

.ver-table-label {
  width: 12rem;
  padding-right: 1.2rem;
  vertical-align: top;
}
