.wrapper {
  width: fit-content;
}

.input-label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}

.input-field {
  display: block;
  width: 100%;
  height: 3rem;
  margin-bottom: 0.8rem;
}

.input-field:focus {
  outline: none;
}

.input-image {
  margin-bottom: 1rem;
}

.error-message {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

/* ****************** */
/* Zem 704px  */
/* ****************** */

@media (max-width: 44em) {
  .wrapper {
    width: 100%;
  }
}
